@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




html{
     font-family: 'poppins';
}
body{
    background-color:#000301;
    

   
}
.hero{
    
    filter: drop-shadow(-14rem 14rem 10rem rgb(29, 29, 29))

}
.hero-cover{
    /* background-color: rgba(22, 22, 22, 0.6); */
    width:100%;
    height:500px;
    /* background: rgb(2,0,36); */
    border-bottom-left-radius:70% ;

background: linear-gradient(90deg, rgba(60, 55, 112, 0.6) 0%, rgba(27, 27, 114, 0.7) 35%, rgba(35, 40, 41, 0.7) 100%);
}
.hover-state{
    @apply hover:shadow-inner transform hover:scale-110 hover:bg-opacity-50 transition ease-out duration-300;
}
.dropDown{
    @apply link px-3 py-1 hover:text-[white] hover:bg-[black] rounded-lg
}

.awards{
    
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.research{
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-color: #011936ff;
color: #f4fffdff;
}

#triangle-right {
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items:  center;
    text-align: left;
    border-top: 25px solid transparent;
    border-left: 50px solid #201616;
    border-bottom: 25px solid transparent;
    
    
}  
.hero-image{
    background-image: url('../public/Img/TadeRemoved.png');
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
    /* background-color:aqua; */
}
.research-hero{
    background-image: url(../public/Img/HeroImages/Researchhero3.png);
   
}
.link{
    margin:6px 0px;
}
.research{
    position: absolute;
    top:1rem;
    border-top: 1.2rem solid black;
    left:2rem;
    padding-top: 3px;
padding:  10px 16px;
    color:black;
    font-weight:bold;
    text-align: left;
}
.about{
    background-image: url('../public/Img/HeroImages/aboutimage.png');
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
    width:500px;
    height: 550px;
    margin-top: 3rem; 
       padding-top: 1rem;;
    background-position:top;
}
.years{
    position: absolute;
    top:1.2rem;
    padding:10px;

}
.presentation_hero{
    background-image: url(../public/Img/HeroImages/Speaker.png);
    height: 400px;
    background-repeat: none;
    background-size:contain;
    overflow: hidden;
    background-position:center;
}
.title{
    padding: 2rem 0rem;
    font-weight: bolder;
    font-size: 2.3rem;
}
.hero__WhatsNew{
    width:100%;
    height:340px;
    background-image: url('../public/Img/HeroImages/whatsNewHero.png');
    background-repeat: none;
    background-size: cover;
    background-position: top;
    
}

.awards_hero{
    padding: 0px 150px !important;
    width:150px;
    height:330px;
    /* margin: 0px 100px 0px 150px; */
    background-image: url('../public/Img/HeroImages/awardHero.png');
    background-repeat: none;
    background-size:  cover;
    background-position: bottom;
    background-color: rgba(0,0,0,0.4);
}
.whatNew{
    justify-content: center;
    

}
@media (max-width:767px) {
.mobile_nav{
    position:absolute;
    width: 767px;
    top:2.5rem;
    left:0;
    right:0;
    
} 
.about{
    width:550px;
    height: 500px;
}
        
}
@media (max-width:450px){
   #triangle-right{
    border-top: 15px solid transparent;
    border-left: 40px solid #201616;
    border-bottom: 15px solid transparent;
    
   } 
   .about{
    width:300px;
    height: 400px;
}
}
@media (min-width: 640px) { 
    .hero__WhatsNew{
        width:48%;
        height:340px;
        margin-right: 50px;
    
    }
    .whatNew{
        justify-content: start;
    }
    .hero_whats_main{
        margin-top: 4rem;
    }
    .title{
        font-weight: bolder;
        font-size: 50px;
    }
    .awards_hero{
        
        background-image: url('../public/Img/HeroImages/awardHero.png');
        background-repeat: none;
        background-size:  cover;
        background-position: center;
        background-color: rgba(0,0,0,0.4);
    }

 }
 @media(min-width:1024px){
    .awards_hero{
        width: 400px;
        height: 500px;
        background-image: url('../public/Img/HeroImages/awardHero.png');
        background-repeat: none;
        background-size:  cover;
        background-position: center;
        background-color: rgba(0,0,0,0.4);
    } 
 }


 
  
  .typing-demo {
    width: 8ch;
    animation: typing 2s steps(8), .3s ;
    white-space: nowrap;
    overflow: hidden;

    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

 
 